body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #74ebd5 0%, #9face6 100%);

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #333; 
}

.container {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 

    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); 

    padding: 40px; 
    border-radius: 15px; 
    text-align: center;
    width: 450px;

    transition: transform 0.3s ease; 
}

.container:hover {
    transform: translateY(-5px);
}

h1 {
    font-weight: 700;
    color: #333;
    margin-bottom: 25px; 
    letter-spacing: 1px;
}

input {
    padding: 18px; 
    width: 75%; 
    margin-bottom: 15px;

    border: 1px solid #ccc;
    border-radius: 25px; 
    outline: none; 

    transition: border-color 0.3s, box-shadow 0.3s;
}

input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    padding: 18px 25px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 25px; 
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px); 
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
}